body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.666;
    background: #9edbf2f4;
    color: #514444dc;
    text-align: center;
    margin: 0;
    padding: 0;
  } 

  nav {
    border:0;
    background-color: white;
    font-size: medium;
    padding-bottom: 5px;
  }

  header {
    padding-bottom: 25px;
  }
  
footer {
  background: rgba(0, 0, 0, 0.841);
  color: aliceblue;
  font-size: 80%;
  width: 100%;
  padding-top: 25px;
  position: fixed;
  bottom: 0;
  --clear:both;
}

.navbar-brand {
  padding-left: 10px;
  font-size: larger;
  font-weight: 600;
}

.card form {
  text-align: left;
  font-weight: normal;
}

.card {
  width: 400px;
  height: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}



